/*========== COMMON CLASSES ==========*/
.wrapper {
    float: left;
    clear: both;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-float {
    float: none !important;
}

.clear-both {
    clear: both;
}

.section {
    margin-bottom: 40px;
    padding: 0 !important;
}
/*========== END COMMON CLASSES ==========*/


nav .brand-logo {
    font-family: 'Plaster', cursive;
    font-size: 32px;
}


/*========== SIDE NAVIGATION ==========*/
#side-nav {
  padding-right: 0;
}

#side-nav #logo-container {
    width: 80%;
    margin: 10px auto 0 auto;
}

#side-nav ul {
  float: left;
  width: 100%;
  list-style: none;
}

#side-nav ul li a {
  display: block;
  float: left;
  width: 100%;
  color: #454545;
  padding: 10px 15px;
}

#side-nav ul li a.active {
    color: #FFFFFF;
    background-color: #666666;
}
/*========== END SIDE NAVIGATION ==========*/


/*========== MAIN FEATURE ==========*/
#main-feature {
    float: left;
    clear: both;
    width: 100%;
    height: 450px;
    color: #FFFFFF !important;
}

#main-feature h1 {
    font-size: 72px;
}

#main-feature h1.light {
    font-weight: 200;
}
/*========== END MAIN FEATURE ==========*/


/*========== SMALL FEATURE ==========*/
.small-feature {
    float: left;
    clear: both;
    width: 100%;
    height: 250px;
    color: #FFFFFF !important;
    margin-bottom: 20px;
}

.small-feature .icon {
    margin-bottom: 0 !important;
}

.small-feature .header {
    margin-bottom: 40px;
}
/*========== END MAIN FEATURE ==========*/


/*========== FOOTER ==========*/
.page-footer .footer-copyright {
    height: auto !important;
    line-height: 1em !important;
    padding: 10px 0;
}
/*========== END FOOTER ==========*/
